.ma-content {
    width: 100%;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    padding:10px 20px;
    display: inline-block;
}

h3 {
    font-weight: bold;
}

.ma-tableOuter {
    border:1px solid $border-grey;
    border-radius: 15px;
    border-collapse: separate;
    width: 100%;
    cursor: pointer;

}

.maTableOuterRowHidden {
    display: none;
}

.maTableOuterRowShow {
    background-color: #dddddd;
    display: table-row;
}

.maTableOuterRowParentShow td {
    background-color: #dddddd;
    border:0;
}

.maTableOuterRow:hover {
    background-color: #dddddd;
}

.ma-tableRowOuterHeader th {
    background-color: $primary;
}

.ma-tableRowOuterHeader th:first-child {
    border-radius: 15px 0 0 0;
}

.ma-tableRowOuterHeader th:last-child {
    border-radius: 0 15px 0 0;
}

.ma-tableRowOuterFooter td {
    background-color: $primary;
}

.ma-tableRowOuterFooter td:first-child {
    border-radius: 0 0 15px 15px;
}

.ma-tableRowOuterFooter td:last-child {
    border-radius: 0 0 15px 15px;
}

.ma-tableOuter th, td {
    padding:5px 10px;
    border-bottom: 1px solid $border-grey;
}

.ma-tableOuter th {
    border-bottom: 2px solid $border-grey;
}

.ma-tableOuter tfoot td {
    border-top: 1px solid $border-grey;
}

.ma-tableOuter tfoot tr:last-child td {
    border-bottom: 0;
}

.ma-tableInner {
    width: 100%;
    background-color: $white;
    border:1px solid $border-grey;
    border-radius: 15px;
    border-collapse: separate;
    //white-space: normal;
    cursor: default;
    //display: inherit;
}

.ma-Td_Width_5 {
    width: 5%;
}

.ma-Td_Width_10 {
    width: 10%;
}

.ma-Td_Width_60 {
    width: 60%;
}

.ma-Td_Width_70 {
    width: 70%;
}

.ma-tableInner tr:last-child td {
    border-bottom: 0;

    //white-space: normal;
}

.ma-tableInner thead tr td {
    border-bottom: 0;

    //white-space: normal;
}

.ma-returnMessage {
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    font-size: 1.1em;
    margin-top: 10px;

    border: 1px solid $border-grey;
    /*color: #000000;*/
    display: none;
}

.ma-returnMessageSuccess {
    background-color: $success;
    display: inline-block;
}

.returnMessageFailed {
    background-color: $red;
    color: $white;
    display: inline-block;
}

.ma-delete {
    color: $red;
}

.ma-delete:hover {
    color: $black;
}
