.ma-content {
    width: 100%;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    padding:10px 20px;
    display: inline-block;
}

h3 {
    font-weight: bold;
}

.ma-tableOuter {
    border:1px solid #363636;
    border-radius: 15px;
    border-collapse: separate;
    width: 100%;
    cursor: pointer;

}

.maTableOuterRowHidden {
    display: none;
}

.maTableOuterRowShow {
    background-color: #dddddd;
    display: table-row;
}

.maTableOuterRowParentShow td {
    background-color: #dddddd;
    border:0;
}

.maTableOuterRow:hover {
    background-color: #dddddd;
}

.ma-tableRowOuterHeader th {
    background-color: #00b89c;
}

.ma-tableRowOuterHeader th:first-child {
    border-radius: 15px 0 0 0;
}

.ma-tableRowOuterHeader th:last-child {
    border-radius: 0 15px 0 0;
}

.ma-tableRowOuterFooter td {
    background-color: #00b89c;
}

.ma-tableRowOuterFooter td:first-child {
    border-radius: 0 0 15px 15px;
}

.ma-tableRowOuterFooter td:last-child {
    border-radius: 0 0 15px 15px;
}

.ma-tableOuter th, td {
    padding:5px 10px;
    border-bottom: 1px solid #000;
}

.ma-tableOuter th {
    border-bottom: 2px solid #363636;
}

.ma-tableOuter tfoot td {
    border-top: 1px solid #363636;
}

.ma-tableOuter tfoot tr:last-child td {
    border-bottom: 0;
}

.ma-tableInner {
    width: 100%;
    background-color: #fff;
    border:1px solid #363636;
    border-radius: 15px;
    border-collapse: separate;
    //white-space: normal;
    cursor: default;
    //display: inherit;
}

.ma-tableInnerTd_10 {
    width: 10%;
}

.ma-tableInnerTd_70 {
    width: 70%;
}

.ma-tableInner tr:last-child td {
    border-bottom: 0;

    //white-space: normal;
}

.ma-tableInner thead tr td {
    border-bottom: 0;

    //white-space: normal;
}

.ma-returnMessage {
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    font-size: 1.1em;
    margin-top: 10px;
    /*width: 400px;*/
    border: 1px solid #363636;
    color: #000;
    display: none;
}

.ma-returnMessageSuccess {
    background-color: #00b89c;
    display: inline-block;
}

.returnMessageFailed {
    background-color: #ff0000;
    display: inline-block;
}

.ma-delete {
    color: #ff0000;
}

.ma-delete:hover {
    color: #000000;
}
