label {
    display: inline-block;
    width:120px;
    font-size: 1.2em;
}

span { display: inline-block; }

.returnMessage {
    border-radius: 5px;
    padding: 0 4px 0 4px;
    font-size: 1.2em;
    margin-top: 10px;
    /*width: 300px;*/
    border: 1px solid $border-grey;
    color: #000;
    display: none;
}

.returnMessageSuccess {
    background-color: $success;
    display: inline-block;
}

.returnMessageFailed {
    background-color: $red;
    color: $white;
    display: inline-block;
}


.inputText {
    border-radius: 5px;
    padding: 4px;
    font-size: 1.2em;
    margin-top: 10px;
    width: 300px;
    border: 1px solid $border-grey;
}

.inputTextarea {
    display: inline-block;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.2em;
    margin-top: 10px;
    width:600px;
    height: 100px;
    border: 1px solid $border-grey;
}

.labelTextArea {
    margin-top:-100px;
}

.submit {
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 124px;
    margin-top: 10px;
    border: 1px solid $border-grey;
    background-color: $primary;
    color: $white;

}
