label {
    display: inline-block;
    width:120px;
    font-size: 1.2em;
}

span { display: inline-block; }

.returnMessage {
    border-radius: 5px;
    padding: 0 0 0 4px;
    font-size: 1.2em;
    margin-top: 10px;
    width: 300px;
    border: 1px solid #363636;
    color: #000;
    display: none;
}

.returnMessageSuccess {
    background-color: #00b89c;
    display: inline-block;
}

.returnMessageFailed {
    background-color: #ff0000;
    display: inline-block;
}


.inputText {
    border-radius: 5px;
    padding: 4px;
    font-size: 1.2em;
    margin-top: 10px;
    width: 300px;
    border: 1px solid #363636;
}

.inputTextarea {
    display: inline-block;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.2em;
    margin-top: 10px;
    width:600px;
    height: 100px;
    border: 1px solid #363636;
}

.labelTextArea {
    margin-top:-100px;
}

.submit {
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 124px;
    margin-top: 10px;
    border: 1px solid #363636;
    background-color: #00b89c;

}
